.main-container {
    height: 120vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #686868;
    font-family: 'Lexend Deca', sans-serif;
    background: #e4e3e3
}

.citation{
    position: relative;
    bottom: 0;
}