<script>
    var $words = $('.rotate ul li'),
        $word = $('.rotate ul'),
        mainTl = new TimelineMax({
            repeat: -1,
            repeatDelay: 0
        });

    $words.each(function (index, element) {
        var word = $(this),
            wordNum = index + 1,
            wordTl = new TimelineMax({
                delay: 1
            });

        wordTl.to($word, .25, {
            marginTop: '-' + wordNum * 2 + 'em'
        });

        mainTl.add(wordTl);

        word.clone().appendTo($word);
        console.log(word);
    });
</script>

<div class="text">
    coffee is for
    <div class="rotate">
        <div class="fade-top"></div>
        <div class="fade-bottom"></div>
        <div class="word">
            <ul>
                <li id="1">closers</li>
                <li id="2">tired</li>
                <li id="3">energy</li>
            </ul>
        </div>
    </div>
</div>