ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    opacity : 0.5;
    display: block;
    padding: 0px 15px;
    transition:all 0.3s ease;
}


li a:hover {
    font-size: 1.1em;
    opacity: 1;
}