<div [id]="this.htmlId" class="main-container">
    <h1 class="main-title">
        <b data-aos="fade-right" data-aos-duration="1500" data-aos-delay="400">-
        </b>
        <b data-aos="fade-up" data-aos-duration="1000"><i>Our
            </i><u>JOB</u></b>
        <b data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
            -</b>
    </h1>
    <div class="cloud" data-type="parallax" data-depth="-0.1"></div>
    <div class="bottom-left" data-aos="fade-right" data-aos-delay="600">
        <div class="left"></div>
    </div>ba
    <div class="bottom-right" data-aos="fade-left" data-aos-delay="800">
        <div class="right"></div>
    </div>

    <div class="content-container" data-type="parallax" data-depth="-0.1">
        <div class="content">
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Not only will you <b>discover</b> the
                stories
                of the city,
            </p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> you will also learn about the names
                that are given by the <b>Liégeois</b> to the locals monuments,
            </p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                what they <b>drink</b> and when to drink them, wander in the hidden <b>impasses</b> in the old Liège and
                experience a
            </p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
                walk inside a palace. All the <b>highlights</b>of Liège will be covered,
            </p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">and we'll share with you our</p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900">perfect
                spots to go for a drink and to have a meal.</p>
        </div>

    </div>
</div>