<div class="main-container">
    <div class="layer layer1" data-type="parallax" data-depth="0.3"></div>
    <div class="layer layer4" data-type="parallax" data-depth="0.4">
        <div class="over-title">
            <h1>Discover</h1>
        </div>
    </div>
    <div class="layer layer4" data-type="parallax" data-depth="0.6">
        <div class="middle-title">
            <h1>Liege</h1>
        </div>
    </div>
    <div class="layer layer4" data-type="parallax" data-depth="0.8">
        <div class="sub-title">
            <h1>With nice buddies</h1>
        </div>
    </div>
    <div class="layer layerArrow" data-type="parallax" data-depth="0.8">
        <div class="arrow">
            <svg viewBox="0 0 24 24" width="100%" height="100%" stroke="White" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <polyline points="7 13 12 18 17 13"></polyline>
                <polyline points="7 6 12 11 17 6"></polyline>
            </svg>
        </div>
    </div>
</div>