.main-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.layer {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.layer1 {
    background: url('../../assets/home_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
}

.layer4 {
  width: 100%;
  height: 100vh;
}

.over-title{ 
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 100%;
  background: #000000dd;
  position: fixed;
  bottom: 40%;
  right: 3%;
}

.middle-title{
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 100%;
  text-align: center;
  position: fixed;
  background: #000000dd;
  bottom: 20%;
  right: 3%;
}

.sub-title {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 100%;
  background: #000000dd;
  position: fixed;
  margin: auto;
  bottom: 1%;
  right: 3%;
}

.arrow {
  text-align: center;
  background: #000000dd;
  position: fixed;
  bottom: 3%;
  left: 10%;
  height: 7vh;
  width: 7vh;
}